.cli-window{
    height: 100%;
    overflow: hidden;
    padding-bottom: 3rem;
    background-color: rgb(38, 38, 38);

    div[name="react-console-emulator"]{
        height: 100%;
        background-color: transparent !important;
    }
}