.window {

    background-color: #000000;
    overflow: hidden;
    border-radius: 0.75rem;
    height: 100%;
    color: rgb(180, 177, 177);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav {

        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.436);

        
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .dots {
            display: flex;
            gap: 0.25rem;

            .dot {
                height: 15px;
                width: 15px;
                background-color: white;

                border-radius: 50%;
            }

        .red{
            background-color: #d54942;
        }

        .yellow{
            background-color: #f6c356;
        }

        .green{
            background-color: #0aa922;
        }
        }

    }

    .main-content{
        height: 100%;
    }
}