nav {
    width: 100%;

    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e1b;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;
    align-items: center;


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    .left,
    .right {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    p {
        margin: 0;
    }

    .nav-icon,
    .nav-items {
        display: flex;
        align-items: center;
    }

    .nav-icon img {
        display: block;
    }
}
